<nav class="navbar" [class.scrolled]="isScrolled">
    <div class="container">
      <div class="navbar-brand">
        <a routerLink="/">
          <img src="logo.png" alt="ASEEM Logo" class="logo">
        </a>
        <button class="mobile-toggle" (click)="toggleMobileMenu()">
          <mat-icon>{{ isMobileMenuOpen ? 'close' : 'menu' }}</mat-icon>
        </button>
      </div>
      
      <div class="navbar-menu" [class.is-active]="isMobileMenuOpen">
        <div class="navbar-end">
          <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="navbar-item">
            Home
          </a>
          
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">About Us</a>
            <div class="navbar-dropdown" @fadeInOut>
              <a routerLink="/about" routerLinkActive="active" class="dropdown-item">Who We Are</a>
              <a routerLink="/team" routerLinkActive="active" class="dropdown-item">Team</a>
              <a routerLink="/advocacy" routerLinkActive="active" class="dropdown-item">Advocacy & Legal Interventions</a>
              <a routerLink="/impact" routerLinkActive="active" class="dropdown-item">Our Impact</a>
              <a routerLink="/get-involved" routerLinkActive="active" class="dropdown-item">Get Involved</a>
              <a routerLink="/partners" routerLinkActive="active" class="dropdown-item">Partners</a>
            </div>
          </div>
          
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">Projects & Reports</a>
            <div class="navbar-dropdown" @fadeInOut>
              <a routerLink="/projects" routerLinkActive="active" class="dropdown-item">Projects</a>
              <a routerLink="/reports" routerLinkActive="active" class="dropdown-item">Reports & Publications</a>
              <a routerLink="/gallery" routerLinkActive="active" class="dropdown-item">Gallery</a>
              <a routerLink="/case-studies" routerLinkActive="active" class="dropdown-item">Case Studies</a>
            </div>
          </div>
          
          <a routerLink="/news" routerLinkActive="active" class="navbar-item">
            News Reports
          </a>
          
          <div class="navbar-item has-dropdown">
            <a class="navbar-link">Contact Us</a>
            <div class="navbar-dropdown" @fadeInOut>
              <a routerLink="/contact" routerLinkActive="active" class="dropdown-item">Contact Us</a>
              <a routerLink="/donate" routerLinkActive="active" class="dropdown-item">Donate/Support</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>